<div class="page-header text-center">
  <h1>Sign up</h1>
</div>

<%= simple_form_for @user, url: users_sign_up_path do |form| %>
  <div class="form--auth">
    <div class="form--auth__inputs">
      <%= form.input :email, as: :email %>
      <%= form.input :password, as: :password %>
      <%= form.input :password_confirmation, as: :password %>
    </div>

    <div class="form--auth__actions">
      <%= form.button :submit, 'Sign up' %>
    </div>
  </div>
<% end %>
